play_scraper
pyrogram
pymongo[srv]
pyshorteners
aiohttp
aiofiles
asyncio
tgcrypto
telegraph
gpytranslate
requests
motor
secureme
SafoneAPI
youtube_search
yt_dlp
wikipedia
wget 
lxml
countryinfo==0.1.2

